[submodule "MonoEngine/thirdparty/glm"]
	path = MonoEngine/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "MonoEngine/thirdparty/tracy"]
	path = MonoEngine/thirdparty/tracy
	url = https://github.com/wolfpld/tracy
[submodule "MonoEngine/thirdparty/spdlog"]
	path = MonoEngine/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MonoEngine/thirdparty/volk"]
	path = MonoEngine/thirdparty/volk
	url = https://github.com/zeux/volk
[submodule "MonoEngine/thirdparty/imgui"]
	path = MonoEngine/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Common/extern/doctest"]
	path = Common/extern/doctest
	url = https://github.com/doctest/doctest
[submodule "MonoRuntime/extern/sdl"]
	path = MonoRuntime/extern/sdl
	url = https://github.com/libsdl-org/sdl
[submodule "Common/doxygen-awesome-css"]
	path = Common/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "MonoEngine/thirdparty/iniparser"]
	path = MonoEngine/thirdparty/iniparser
	url = https://github.com/ndevilla/iniparser
