[submodule "MonoEngine/thirdparty/glm"]
	path = MonoEngine/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "MonoEngine/thirdparty/sdl3"]
	path = MonoEngine/thirdparty/sdl3
	url = https://github.com/libsdl-org/SDL
[submodule "MonoEngine/thirdparty/tracy"]
	path = MonoEngine/thirdparty/tracy
	url = https://github.com/wolfpld/tracy
[submodule "MonoEngine/thirdparty/spdlog"]
	path = MonoEngine/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MonoEngine/thirdparty/volk"]
	path = MonoEngine/thirdparty/volk
	url = https://github.com/zeux/volk
